# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# IDEs
.vscode/
.idea/

# Databases / vector stores
chroma_db/
*.db
*.sqlite

# Environment variables
.env

# Packaging
build/
dist/
*.egg-info/
.env
